
div {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.container {
    flex-direction: column;
}

.calculator {
    --side: min(80vw, 80vh);
    background-color: darkblue;
    border-radius: 30px;
    height: var(--side);
    flex-grow: 0;
    flex-shrink: 1;
    aspect-ratio: 4/5;
    flex-direction: column;
    align-items: stretch;
    padding: 20px
}

.screen-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    align-items: stretch;
}

.button-area {
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    align-items: stretch;
    justify-content: space-between;
}

.screen {
    background-color: lightgray;
    border-radius: 10px;
    margin: 16px;
    flex-direction: column;
    align-items: stretch;
}

.column {
    padding: 0px;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

.button {
    background-color: darkgray;
    margin: 16px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}

.go-button {
    background-color: green;
}

.stop-button {
    background-color: #b32d2e;
}

.operation-button {
    background-color: darkorange;
}

.negate-button {
    background-color: #848482;
}

.button-group {
    padding: 0px;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}

.screen-top, .screen-bottom {
    margin: 4px;
    justify-content: flex-end;
    padding: 0px;
}

.screen-top p {
    font-size: smaller;
    margin: 0px 16px;
}

.screen-bottom p {
    font-size: x-large;
    margin: 0px 8px;
}


/* :empty - when it has no child elements or text */
/* ::before - apply styling before the element (e.g. to put an emoji before a link) */
/* inline-block allows us to set a height on the element */
/* By their powers combined, we can keep the text at a minimum dynamic height */
/* Another potential option might be to set a min height here, but I was unable to get working */
p:empty::before {
    content:"";
    display:inline-block;
}
