
div {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.container {
    flex-direction: column;
}

.calculator {
    --side: min(80vw, 80vh);
    background-color: darkblue;
    border-radius: 30px;
    height: var(--side);
    flex-grow: 0;
    flex-shrink: 1;
    aspect-ratio: 4/5;
    flex-direction: column;
    align-items: stretch;
    padding: 20px
}

.screen-area {
    background-color: aqua;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    align-items: stretch;
}

.button-area {
    background-color: salmon;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
}

.screen {
    background-color: lightgray;
    border-radius: 10px;
}
